<div class="row">
        <div class="col-sm-6 col-lg-3" style="height: 600px; overflow-y: scroll;">
                <div class="card text-white bg-danger">
                        <div class="card-body">
                          <div class="btn-group float-right" dropdown>
                            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                              <i class="icon-settings"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                              <a class="dropdown-item" href="#/workflow/trackJob">Track</a>
                              <a class="dropdown-item" href="#">Show Detail</a>
                              <a class="dropdown-item" href="#">In Media</a>
                              
                            </div>
                          </div>
                          <div class="text-value">Walmart Lab</div>
                          <div><small>WM-1243</small></div>
                          <div><span><small>.NET Developer</small></span> <span class="float-right"><small>5-10</small></span></div>
                          <div><small>C#, ASP.NET, .NET Core, SQLServer</small> </div>
                          
                        </div>
                </div>

                <div class="card text-white bg-warning">
                        <div class="card-body">
                          <div class="btn-group float-right" dropdown>
                            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                              <i class="icon-settings"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                              <a class="dropdown-item" href="#">Track</a>
                              <a class="dropdown-item" href="#">Show Detail</a>
                            </div>
                          </div>
                          <div class="text-value">Walmart Lab</div>
                          <small>WM-4312</small>
                          <div><span><small>.NET Developer</small></span> <span class="float-right"><small>5-10</small></span></div>
                          <div><small>C#, ASP.NET, .NET Core, SQLServer</small> </div>
                        </div>
                </div>

                <div class="card">
                   <div class="card-header bg-primary">
                      <div class="font-weight-bold"><span>Walmart Lab</span><span class="float-right">$1.890,65</span></div>
                      <div><span><small>.NET Developer</small></span><span class="float-right"><small>5+</small></span></div>
                      <div><span><small>ASP.NET, C#, SQL Server, JQuery , VB.NET</small></span></div>
                      <div class="chart-wrapper" style="height:38px;">
                         <canvas basechart="" class="chart chartjs-render-monitor" width="312" height="47" ng-reflect-datasets="[object Object]" ng-reflect-labels="Jan,Feb,Mar,Apr,May,Jun,Jul,Au" ng-reflect-options="[object Object]" ng-reflect-chart-type="bar" ng-reflect-colors="[object Object]" ng-reflect-legend="false" style="display: block; height: 38px; width: 250px;"></canvas>
                      </div>
                   </div>
                </div>

                <div class="card">
                        <div class="card-header bg-primary">
                           <div class="font-weight-bold"><span>DELL  International</span><span class="float-right">$1590,65</span></div>
                           <div><span><small>Jave Developer</small></span><span class="float-right"><small>2-5</small></span></div>
                           <div><span><small>Java, Sprint, Hibernate, Core Java</small></span></div>
                           <div class="chart-wrapper" style="height:38px;">
                              <canvas basechart="" class="chart chartjs-render-monitor" width="312" height="47" ng-reflect-datasets="[object Object]" ng-reflect-labels="Jan,Feb,Mar,Apr,May,Jun,Jul,Au" ng-reflect-options="[object Object]" ng-reflect-chart-type="bar" ng-reflect-colors="[object Object]" ng-reflect-legend="false" style="display: block; height: 38px; width: 250px;"></canvas>
                           </div>
                        </div>
                </div>

                <div class="card">
                        <div class="card-header bg-primary">
                           <div class="font-weight-bold"><span>Timken Engineeting</span><span class="float-right">$5965</span></div>
                           <div><span><small>PHP Developer</small></span><span class="float-right"><small>5-10</small></span></div>
                           <div><span><small>PHP, Struts, Hibernate</small></span></div>
                           <div class="chart-wrapper" style="height:38px;">
                              <canvas basechart="" class="chart chartjs-render-monitor" width="312" height="47" ng-reflect-datasets="[object Object]" ng-reflect-labels="Jan,Feb,Mar,Apr,May,Jun,Jul,Au" ng-reflect-options="[object Object]" ng-reflect-chart-type="bar" ng-reflect-colors="[object Object]" ng-reflect-legend="false" style="display: block; height: 38px; width: 250px;"></canvas>
                           </div>
                        </div>
                </div>

                <div class="card text-white bg-danger">
                        <div class="card-body">
                          <div class="btn-group float-right" dropdown>
                            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                              <i class="icon-settings"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </div>
                          <div class="text-value">Walmart Lab</div>
                          <div><span><small>.NET Developer</small></span> <span class="float-right"><small>5-10</small></span></div>
                          <div><small>C#, ASP.NET, .NET Core, SQLServer</small> </div>
                        </div>
                </div>
        </div>

    <div class="col-lg-9">
        <!-- <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-2">
                        <button class="btn btn-block btn-warning" type="button">Add new Job</button>
                    </div>
        </div> -->
          <div class="card">
            <div class="card-header">
              <strong>Requirement &nbsp;</strong>
              <small>Detail</small>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="company">Company Name</label>
                <input type="text" class="form-control" id="company" placeholder="Enter company name">
              </div>

              <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="city">Ext Job code</label>
                    <input type="text" class="form-control" id="city" placeholder="External Job Code">
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="postal-code">Internal Job code</label>
                    <input type="text" class="form-control" id="postal-code" placeholder="Internal Job code ">
                  </div>
              </div>


              <div class="form-group">
                <label for="vat">Position/Designation</label>
                <input type="text" class="form-control" id="vat" placeholder="Position">
              </div>
              <div class="form-group">
                <label for="street">Skill set</label>
                <input type="text" class="form-control" id="street" placeholder="Enter skill set">
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label for="city">Location</label>
                  <input type="text" class="form-control" id="city" placeholder="Enter Location">
                </div>
                <div class="form-group col-sm-2">
                  <label for="postal-code">Total Opening</label>
                  <input type="text" class="form-control" id="postal-code" placeholder="Opening ">
                </div>
                <div class="form-group col-sm-2">
                  <label for="postal-code">Experience</label>
                  <input type="text" class="form-control" id="postal-code" placeholder="Experience">
                </div>
                <div class="form-group col-sm-2">
                  <label for="postal-code">Max CTC</label>
                  <input type="text" class="form-control" id="postal-code" placeholder="MaX CTC">
                </div>
              </div><!--/.row-->

              <div class="row">
                  <div class="form-group col-sm-2">
                    <label for="city">Notice</label>
                    <input type="text" class="form-control" id="city" placeholder="Notice">
                  </div>
                  <div class="form-group col-sm-2">
                    <label for="postal-code">US Visa</label>
                    <input type="text" class="form-control" id="postal-code" placeholder="Opening ">
                  </div>

                  <div class="form-group col-sm-2">
                      <label for="postal-code">Travel Flexibility</label>
                      <input type="text" class="form-control" id="postal-code" placeholder="Travel ">
                  </div>
                  <div class="form-group col-sm-2">
                      <label for="postal-code">Shift Flexibility</label>
                      <input type="text" class="form-control" id="postal-code" placeholder="Shift ">
                  </div>

                </div><!--/.row-->


            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-primary pull-right" type="submit" > <i class="fa fa-dot-circle-o"></i> Submit</button>
              <button class="btn btn-sm btn-danger pull-right" type="reset" style="margin-right: 2px"><i class="fa fa-ban"></i> Reset</button>
            </div>

          </div>

    </div>
    
</div>