<div class="row">
    <div class="col-lg-12">
            <div class="modal-dialog">
                    <div class="modal-content">
                       <div class="modal-header">
                         <button type="button" class="close" (click)="close()" >&times;</button>
                         <h4 class="modal-title">Add Candidate</h4>
                       </div>
                       <div class="modal-body">
                            
                                    <div class="card">
                                      
                                      <div class="card-body">
                                        <div class="form-group">
                                          <label for="company">Current Company</label>
                                          <input type="text" class="form-control" id="company" placeholder="Current Company">
                                        </div>
                                        <div class="form-group">
                                          <label for="vat">Skill</label>
                                          <input type="text" class="form-control" id="vat" placeholder="Skillset">
                                        </div>
                                        <div class="form-group">
                                          <label for="street">Email</label>
                                          <input type="text" class="form-control" id="street" placeholder="Email">
                                        </div>
                                        <div class="row">
                                          <div class="form-group col-sm-6">
                                            <label for="city">Location</label>
                                            <input type="text" class="form-control" id="city" placeholder="Location">
                                          </div>
                                          <div class="form-group col-sm-4">
                                            <label for="postal-code">Mobile No</label>
                                            <input type="text" class="form-control" id="postal-code" placeholder="Mobile">
                                          </div>
                                          <div class="form-group col-sm-2">
                                                <label for="postal-code">Notice</label>
                                                <input type="text" class="form-control" id="postal-code" placeholder="Notice">
                                              </div>
                                        </div><!--/.row-->
                                        <div class="row">
                                                <div class="form-group col-sm-4">
                                                  <label for="city">Preferred Location</label>
                                                  <input type="text" class="form-control" id="city" placeholder="Location">
                                                </div>
                                                <div class="form-group col-sm-2">
                                                  <label for="postal-code">Current CTC</label>
                                                  <input type="text" class="form-control" id="postal-code" placeholder="Mobile">
                                                </div>
                                                <div class="form-group col-sm-2">
                                                    <label for="postal-code">Expected CTC</label>
                                                    <input type="text" class="form-control" id="postal-code" placeholder="Mobile">
                                                </div>
                                                <div class="form-group col-sm-2">
                                                    <label for="postal-code">Total Exp</label>
                                                    <input type="text" class="form-control" id="postal-code" placeholder="Exp">
                                                </div>
                                                <div class="form-group col-sm-2">
                                                        <label for="postal-code">Rel Exp</label>
                                                        <input type="text" class="form-control" id="postal-code" placeholder="Rel Exp">
                                                </div>
                                                    
                                        </div><!--/.row-->
                                    </div>
                       </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
                         <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>
                       </div>
                     </div>
            </div>
    </div>
</div>



